In [1]:
import pandas as pd
import numpy as np

In [71]:
data = {
    'Cost': [50, 30, 30, 60, 35, 50, 40, 50],
    'Weight': [20, 15, 25, 30, 20, 25, 11, 25],
    'Length': [150, 200, 180, 160, 170, 200, 200, 170]
}

In [72]:
df1=pd.DataFrame(data)

In [73]:
df1

   Cost  Weight  Length
0    50      20     150
1    30      15     200
2    30      25     180
3    60      30     160
4    35      20     170
5    50      25     200
6    40      11     200
7    50      25     170

In [74]:
df1.mean()

Cost       43.125
Weight     21.375
Length    178.750
dtype: float64

In [75]:
df1['Cost'].value_counts()

50    3
30    2
60    1
35    1
40    1
Name: Cost, dtype: int64

In [76]:
df1['Weight'].value_counts()

25    3
20    2
15    1
30    1
11    1
Name: Weight, dtype: int64

In [77]:
df1['Length'].mode()

0    200
Name: Length, dtype: int64

In [78]:
df1.mode()

   Cost  Weight  Length
0    50      25     200

In [82]:
count=df1['Cost'].value_counts()
diff=count.index[0]-count.index[1]
diff

20

In [83]:
count =df1['Weight'].value_counts()
diff=count.index[0]-count.index[1]
diff

5

In [84]:
count =df1['Length'].value_counts()
diff=count.index[0]-count.index[1]
diff

30