In [2]:
import pandas as pd
import numpy as np

In [17]:
#dataset 1
diamonds=pd.read_csv(r"C:\Users\pc\Desktop\__pycache__\seaborn-data\diamonds.csv")
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

Range

In [18]:
depth=diamonds['depth']
Range=depth.max()-depth.min()
Range

36.0

In [19]:
variance=diamonds['depth'].var()
variance

2.05240384317702


Standard deviation

In [20]:
depth_mean=diamonds['depth'].mean()
depth_std=depth.std()
depth_std

1.4326213188337733

In [21]:
first_std_upperBound = depth_mean + depth_std
print(first_std_upperBound)
first_std_lowerBound = depth_mean - depth_std
print(first_std_lowerBound)

63.18202621316081
60.31678357549326

In [24]:
second_std_upperbound = depth_mean + 2*depth_std
print(second_std_upperbound)
second_std_lowerbound = depth_mean - 2*depth_std
print(second_std_lowerbound)

64.61464753199458
58.884162256659486

In [25]:
third_std_upperbound = depth_mean + 3*depth_std
print(third_std_upperbound)
third_std_lowerbound = depth_mean - 3*depth_std
print(third_std_lowerbound)

66.04726885082836
57.45154093782571

In [26]:
#dataset 2
taxis=pd.read_csv(r"C:\Users\pc\Desktop\__pycache__\seaborn-data\taxis.csv")
taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

Range

In [29]:
tip=taxis['tip']
tip_range =tip.max() -tip.min()
tip_range

33.2

Variance

In [30]:
tip_variance =taxis['tip'].var()
tip_variance

5.9954440737928785

Standard deviation

In [31]:
tip_mean = taxis['tip'].mean()
tip_std = taxis['tip'].std()

In [32]:
first_std_upperBounce = tip_mean + tip_std
print(first_std_upperBounce)
first_std_lowerBounce = tip_mean - tip_std
print(first_std_lowerBounce)

4.427779240322506
-0.46933994294958503

In [33]:
second_std_upperBounce = tip_mean + 2*tip_std
print(second_std_upperBounce)
second_std_lowerBounce = tip_mean - 2*tip_std
print(second_std_lowerBounce)

6.8763388319585514
-2.9178995345856302

In [34]:
third_std_upperBounce = tip_mean + 3*tip_std
print(third_std_upperBounce)
third_std_lowerBounce = tip_mean - 3*tip_std
print(third_std_lowerBounce)

9.324898423594597
-5.366459126221676

In [35]:
#dataset 3
dots =pd.read_csv(r"C:\Users\pc\Desktop\__pycache__\seaborn-data\dots.csv")
dots

    align choice  time  coherence  firing_rate
0    dots     T1   -80        0.0    33.189967
1    dots     T1   -80        3.2    31.691726
2    dots     T1   -80        6.4    34.279840
3    dots     T1   -80       12.8    32.631874
4    dots     T1   -80       25.6    35.060487
..    ...    ...   ...        ...          ...
843  sacc     T2   300        3.2    33.281734
844  sacc     T2   300        6.4    27.583979
845  sacc     T2   300       12.8    28.511530
846  sacc     T2   300       25.6    27.009804
847  sacc     T2   300       51.2    30.959302

[848 rows x 5 columns]

Range

In [37]:
coherence = dots['coherence']
coherence_range = coherence.max() - coherence.min()
coherence_range

51.2

Variance

In [56]:
coh_variance =dots['coherence'].var()
coh_variance

Standard deviation

In [42]:
coherence_mean = dots['coherence'].mean()
coherence_std = dots['coherence'].std()

In [45]:
first_std_upperbounce = coherence_mean + coherence_std
first_std_lowerbounce = coherence_mean - coherence_std
print(f"1st upper bound standered deviation is {first_std_upperbounce}")
print(f"1st lower bound standered deviation is {first_std_lowerbounce}")

1st upper bound standered deviation is 28.35161955080853
1st lower bound standered deviation is -2.555393135714194

In [46]:
second_std_upperbounce = coherence_mean + 2*coherence_std
second_std_lowerbounce = coherence_mean - 2*coherence_std
print(f"2nd upper bound standered deviation is {second_std_upperbounce}")
print(f"2nd lower bound standered deviation is {second_std_lowerbounce}")

2nd upper bound standered deviation is 43.80512589406989
2nd lower bound standered deviation is -18.008899478975557

In [47]:
third_std_upperbounce = coherence_mean + 3*coherence_std
third_std_lowerbounce = coherence_mean - 3*coherence_std
print(f"3rd upper bound standered deviation is {third_std_upperbounce}")
print(f"3rd lower bound standered deviation is {third_std_lowerbounce}")

3rd upper bound standered deviation is 59.258632237331256
3rd lower bound standered deviation is -33.46240582223692